/* CSS Document */
* {
    margin:0px;
    padding:0px;
}

body, html
{
    background-color:#fff;
    height: 100%;
    font-family:verdana;
    font-size:12px;
}
pre {
    margin:20px;
    background-color:#000;
    color:#0F0;
    text-align:left;
    padding:10px;
}
a:link, a:visited, a:active 
{
    color:#900;
    text-decoration:none;
    font-weight:bold;
}
a:hover {
    color:#000;
}

a.linkNew:link, a.linkNew:visited, a.linkNew:active 
{
    color:#900;
    text-decoration:none;
    font-weight:bold;
	font-size:10px;
	padding:5px 10px;
	background: -webkit-gradient(linear, left top, left bottom, from( #ffffff ), to( #EEEEEE )); 
    background: -moz-linear-gradient(top, #ffffff, #EEEEEE ); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EEEEEE');
	border-top:1px solid #f4f4f4;
	border-left:1px solid #f4f4f4;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
}

a.linkNew:hover 
{
    color:#fff;
	vertical-align:middle;
	background: -webkit-gradient(linear, left top, left bottom, from( #E31E25 ), to( #BD2125 )); 
    background: -moz-linear-gradient(top, #E31E25, #BD2125 ); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E31E25', endColorstr='#BD2125');
}

.cellLogin
{
	padding:10px;
}

#page 
{    
    width:auto;
    min-width:1000px;
    min-width:auto;
	background-color:#fff;
	border:1px solid #CCC;
}

.logoHeader
{
	border-right:1px solid #fff; 
	text-align:center;
	border-bottom:1px solid #fff;
	background: -webkit-gradient(linear, left top, left bottom, from( #ffffff ), to( #EEEEEE )); 
    background: -moz-linear-gradient(top, #ffffff, #EEEEEE ); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EEEEEE');
}

#headerInfo 
{
	padding:5px;
    width:auto;
	font-family:verdana;
    font-size:11px;
	background-color:#f4f4f4;
	
	border-top:1px solid #fff;
	color:#555;
	text-align:left;
	/*text-shadow: 1px 1px #ccc;*/
	margin:0px;
} 

#content 
{
    padding:20px;	
	text-align:center;
}

#header
{
	border-top:5px solid #146DB4;
}

.infoHead
{
	color:#222;
	padding:10px 20px;
	background-color:#fff;
	border-top:1px solid #f4f4f4;
	border-left:1px solid #f4f4f4;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
}



#footer 
{
	
    width:auto;
	background: -webkit-gradient(linear, left top, left bottom, from( #ffffff ), to( #EEEEEE )); 
    background: -moz-linear-gradient(top, #ffffff, #EEEEEE ); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EEEEEE');	
    padding:10px;
	padding-top:20px;
	vertical-align:middle;
	border-top:1px solid #ddd;
	text-align:center;
}

#login 
{
    border-bottom:1px solid #eee;
    width:auto;    
    background: -webkit-gradient(linear, left top, left bottom, from( #EEEEEE ), to( #DDDDDD )); 
    background: -moz-linear-gradient(top, #EEEEEE, #DDDDDD ); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DDDDDD');
    color:#003366;
	font-weight:bold;
    padding:10px;
}

h1, h2, h3, h4 
{
    color:#777;
    text-align:center;
	text-shadow: 0 1px 1px #ccc;
}

h2
{
	margin-bottom:20px;
}

.fg-button 
{
    outline: 0;
    margin:0 4px 0 0;
    padding: .4em 1em;
    text-decoration:none !important;
    cursor:pointer;
    position: relative;
    text-align: center;
    zoom: 1;
}

/*MENU*/
#nav
{
    width:auto;
    height:27px;
	border-bottom:1px solid #ccc;
	font-family:Arial, Helvetica, sans-serif;
}

#nav, #nav ul
{
    background: -webkit-gradient(linear, left top, left bottom, from( #ffffff ), to( #EEEEEE )); 
    background: -moz-linear-gradient(top, #ffffff, #EEEEEE ); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EEEEEE');
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
    position:relative;
    line-height:1.5em; 
}

#nav a
{
    display:block;
    padding:5px 10px;
    color:#000;
    text-decoration:none;
    font-size:12px;
    font-weight:bold;
	text-align:left;
}

#nav a:hover{
	color:#fff;
	background-color:#CCC;
}

#nav li
{
    float:left;
    position:relative;
	z-index:1000;
}

#nav ul {
    position:absolute;
    display:none;
	z-index:1000;
}

#nav li ul a
{
    width:150px;
    height:auto;
    float:left;
    border-bottom:1px solid #222;
    background: -webkit-gradient(linear, left top, left bottom, from( #555555 ), to( #333333 )); 
    background: -moz-linear-gradient(top, #555555, #333333 ); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333');
	z-index:1000;
	color:#fff;
}

#nav li ul a:hover
{
    color:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from( #1A8AE6 ), to( #146DB4 )); 
    background: -moz-linear-gradient(top, #1A8AE6, #146DB4 ); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A8AE6', endColorstr='#146DB4');
	z-index:1000;
}

#nav ul ul{
    top:auto;
	z-index:1000;
}	

#nav li ul ul {
    left:12em;
    margin:0px 0 0 10px;
	z-index:1000;
}

#nav a:hover, #nav li:hover>a 
{
    color:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from( #1A8AE6 ), to( #146DB4 )); 
    background: -moz-linear-gradient(top, #1A8AE6, #146DB4 ); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A8AE6', endColorstr='#146DB4');
	
	z-index:1000;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
    display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
    display:block;
}

/*MENU*/

.mes_cal
{
	font-size:35px;
	color:#fff;
}

.dia_cal
{
	color:#000;
	font-size:150px;
	padding-top:15px;
	font-weight:bold;
}

.cellHead
{
	background: -webkit-gradient(linear, left top, left bottom, from( #1A8AE6 ), to( #146DB4 )); 
    background: -moz-linear-gradient(top, #1A8AE6, #146DB4 ); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A8AE6', endColorstr='#146DB4');
	padding:7px;
    color:#fff;
    text-align:center;
    font-weight:bold;
	font-size:12px;
	border:1px solid #ccc;
}

.cellInfo
{
    padding:3px 10px;
	font-size:10px;
    border:1px solid #ddd;
	background-color:#fff;
	text-shadow: 0 1px 1px #ccc;
}

.linkFiltro
{
	background: -webkit-gradient(linear, left top, left bottom, from( #ffffff ), to( #EEEEEE )); 
    background: -moz-linear-gradient(top, #ffffff, #EEEEEE ); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EEEEEE');
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	margin:10px;
	color:#fff;
	box-shadow: 1px 1px 5px #888;
}

/*PANELES*/
.panelSolici
{
	border:1px solid #ccc;
}

.panelSolici .tdInfo
{
	background: -webkit-gradient(linear, left top, left bottom, from( #ffffff ), to( #EEEEEE )); 
    background: -moz-linear-gradient(top, #ffffff, #EEEEEE ); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EEEEEE');
	border-bottom:1px solid #ddd;
}

.panelSolici .inforForm
{
	background: transparent;
	border:0px;
	box-shadow:none;
}

.panelSolici h2
{
	text-shadow: 0 1px 1px #000;
	color:#F1C53C !important;
	padding: 7px 10px;
	background: -webkit-gradient(linear, left top, left bottom, from( #555555 ), to( #333333 )); 
    background: -moz-linear-gradient(top, #555555, #333333 ); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333');
}
