/* CSS Document */
.tdInfo
{
	padding:5px 10px;
	width:25%;
	/*border:1px solid #900;*/
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea 
{
	background-color: white; 
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	margin: 0 0 0 0;
	padding: 7px 10px; 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
	font-size:14px;
}


#form table
{
}

#form .inputForm
{
	background-color: white; 
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    margin: 0 0 0 0;
    padding: 5px 10px; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    font-size:14px;
}

#form .inforForm
{
	border:0;
	padding:3px;
	color:#000;
}

#form .selectForm option, #form .selectForm
{
	border:#ccc 1px solid;
	padding:2px;
	color:#555;
	background-color:#fafafa;
}

#form .labelForm
{
	font-weight:bold;
	font-size:12px;
}

#form h2
{
	text-align:left;
	color:#333;
}

#form .tdPefil
{
	padding:10px;
}